body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  table {
    border: 1px solid black;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 5px;
    padding-right: 5px;
    text-align: left;
}
th {
    background-color: #dddada;
}
  
  #quiz-container {
    background: #fff;
  }
  
  #question-box {
    margin-bottom: 20px;
  }
  
  #feedback {
    margin: 15px 0;
    font-size: 16px;
  }

  .highlight {
    background-color: #fffacd;
  }

  .wright_answer, .incorrect_answer {
    color: black;
    font-weight: bold;
  }

  .progress_note {
    border: 1px solid #0c2d48;
    background-color: #ADD8E6;
    padding: 5px;
  }
  
  .correct {
    color: rgb(7, 8, 7);
    border: 1px solid green;
    padding: 3px;
    background-color: #dddada;
  }
  
  .incorrect {
    color: black;
    border: 1px solid red;
    padding: 3px;
    background-color: #dddada;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    display: inline-block;
    padding: 4px;
    font-size:15px;

  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

/* Media query for mobile devices */
@media (max-width: 768px) {
    .container {
      height: 100vh; /* Sets the height to 100% viewport height */
    }
  }
  