body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

main {
    padding: 10px;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
}

.collapsible h2  {
    margin: 0;
    cursor: pointer;
    padding: 10px;
    background: rgb(211, 219, 219);
    border-radius: 5px;
}

#notes-content {
    padding-top: 0px;
}

#notes-section, #results-section, #orders-section {
    display: block;
}

.answer-button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s, border-color 0.3s;
    width: 100%;
}

.answer-button:hover {
    background: #eef;
    border-color: #007bff;
}

.answer-button.correct {
    background-color: #d4edda;
    border-color: #28a745;
    color: #155724;
}

.answer-button.incorrect {
    background-color: #f8d7da;
    border-color: #dc3545;
    color: #721c24;
}

.answer-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.navigation button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.navigation button:hover:not(:disabled) {
    background-color: #0056b3;
}

#score-section {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.highlight {
    background-color: #fffacd;
  }

  .labs-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
}

.labs-table th, .labs-table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.labs-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.siqora {
    font-weight: 500;
}

#orders-content, #notes-content, #results-content, #question-container, #answers-container, #explanation-container, #progress-content {
    padding-left: 10px;
    padding-right: 10px;
}

.report {
    display: block;
    font-family: "Noto mono";
    font-size: 0.8rem;
    border:0.2px dashed black;
    padding:4px;
}

